@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-Black.otf');
  font-weight: 600;
}

@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-BlackItalic.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-Bold.otf');
  font-weight: 500;
}

@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-BoldItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-MediumIntalic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-Book.otf');
  font-weight: 300;
}

@font-face {
  font-family: CircularStd;
  src: url('/fonts/CircularStd-Book.otf');
  font-weight: 300;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
